[submodule "client"]
	path = client
	url = https://github.com/Ben-PH/sb-client
[submodule "server"]
	path = server
	url = https://github.com/Ben-PH/sb-server
[submodule "shared"]
	path = shared
	url = ./shared/
